@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300;1,700&family=Roboto&display=swap');


.container {
    width: 80vh;
    padding: 20px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    max-width: 80vw;
}
.header {
    font-family: 'Open Sans', sans-serif;
    line-height: 32px;
    padding: 40px;
}

#title {
    padding: 10px;
    font-style: normal;
    font-size: 50px;
}
#intro {
    padding: 10px;
    font-style: italic;
}
.form-container {
    margin: 0 auto;
    padding: 15px;
    height: 5%;
    font-family: 'Open Sans', sans-serif;
}
#form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

#book-display {
    padding: 0 20px;
}
table {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
thead th{
    width: 20%;
}
.tableHead, .tableCell {
    word-wrap: break-word;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}
.tableHead {
    text-align: left;
    font-family: 'Roboto', sans-serif; 
}
.tableCell {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}