.top-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-container form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.form-items {
  margin: 5px;
}
