.navigation {
  justify-content: space-between;
  text-align: center;
  align-items: center;
  background: #212121;
  color: #f4f4f4;
  width: 100%;
}
.profile-section {
  flex-direction: row;
  justify-content: center;
  align-self: flex-end;
  align-items: center;
  margin: 1em;
  height: 50px;
  transition: 0.5s ease-in-out;
}
.profile-pic {
  border-radius: 50%;
  margin: 0.5em;
  height: 100%;
  width: 100%;
  transform: translateX(100%);
  transition: 0.5s ease-in-out;
}
.profile-section:hover .profile-pic {
  transform: translateX(0);
}
.logout-text-div {
  opacity: 0;
  transition: 0.3s ease-in;
}
.profile-section:hover .logout-text-div {
  opacity: 1;
  text-decoration: underline;
  cursor: pointer;
  transform: scale(1.1);
}
